<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.haon.index.admin.IndexAdminDAO">
   <select id="todaySubscriber" resultType="kr.co.haon.pay.PayVO">
      SELECT COUNT(pay_id) 
      FROM haon_pay 
      WHERE DATE_FORMAT(pay_date, "%Y-%m-%d") = CURDATE();
   </select>
   <select id="todaySales" resultType="kr.co.haon.pay.PayVO">
      SELECT SUM(pay_price)
	  FROM haon_pay
	  WHERE DATE_FORMAT(pay_date, "%Y-%m-%d") = CURDATE();
   </select>
   <select id="allSales" resultType="kr.co.haon.pay.PayVO">
      SELECT SUM(pay_price)
	  FROM haon_pay;
   </select>
   <select id="allMember" resultType="kr.co.haon.user.UserVO">
      SELECT COUNT(user_id) FROM haon_user;
   </select>
   
   <select id="newMember" resultType="kr.co.haon.user.UserVO">
      SELECT user_id, MONTH(user_date) FROM haon_user
	  WHERE user_date BETWEEN '2022-10-01' AND NOW()
	  ORDER BY user_date DESC;
   </select>
</mapper>