<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.haon.pay.admin.PayAdminDAO">
   <select id="payList" resultType="kr.co.haon.pay.PayVO">
   		SELECT PAY_ID, R.ROOM_NAME, U.USER_NAME, P.PAY_STATIC, P.PAY_PRICE, P.PAY_DATE
		FROM HAON_PAY AS P 
		JOIN HAON_USER AS U
		ON P.USER_ID=U.USER_ID
		JOIN HAON_BOOK AS B
		ON P.BOOK_ID=B.BOOK_ID
		JOIN HAON_ROOM AS R
		ON P.ROOM_ID=R.ROOM_ID
		ORDER BY P.PAY_DATE DESC;
   </select>
    <update id="payUpdate" parameterType="kr.co.haon.pay.PayVO">
      update haon_pay set pay_static='결제취소'
      where pay_id=#{pay_id}
   </update>
   <delete id="payDelete" parameterType="kr.co.haon.pay.PayVO">
      delete from haon_pay where pay_id=#{pay_id} and pay_static='결제취소'
   </delete>
</mapper>