<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.haon.pay.client.PayClientDAO">
	<select id="mypayList" parameterType="Pay" resultType="Pay">
	select p.pay_id, r.room_name, r.room_type, a.book_id, a.book_checkIn, a.book_checkOut, p.pay_payment, p.book_price, p.pay_date, p.pay_status
	from haon_pay p join haon_book a on p.user_id=a.user_id join haon_room r on a.room_id=r.room_id where p.user_id=#{user_id} order by p.pay_id desc
	</select>
	<insert id="paySucceed" parameterType="Pay">
	insert into haon_pay (pay_id, user_id, room_id, book_id, pay_payment, book_price)
	values (#{pay_id}, #{user_id}, 1, #{book_id}, #{pay_payment}, #{book_price})
	</insert>
	<select id="payInfo" parameterType="Pay" resultType="Pay">
	select b.book_id, b.user_id, b.room_id, b.book_checkIn, b.book_checkOut, b.book_price, b.book_hanbok, b.book_breakfast, b.book_plusperson, r.room_name, r.room_type, u.user_name
	from haon_book b join haon_room r on b.room_id=r.room_id join haon_user u on b.user_id=u.user_id where b.book_id=#{book_id}
	</select>
	<update id="updateStatus" parameterType="Pay">
	update haon_book set book_status=2 where book_id=#{book_id}
	</update>
	<update id="payCancel" parameterType="Pay">
	update haon_pay set pay_status='CANCEL_PAYMENT' where pay_id=#{pay_id}
	</update>
</mapper>