<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.haon.room.client.RoomClientDAO">

<select id="Room1" resultType="Room">
	SELECT * FROM HAON_ROOM WHERE ROOM_NAME LIKE '무궁화%'
</select>
<select id="Room2" resultType="Room">
	SELECT * FROM HAON_ROOM WHERE ROOM_NAME LIKE '소나무%'
</select>
<select id="Room3" resultType="Room">
	SELECT * FROM HAON_ROOM WHERE ROOM_NAME LIKE '사랑채%'
</select>
<select id="Room4" resultType="Room">
	SELECT * FROM HAON_ROOM WHERE ROOM_NAME LIKE '백두산%'
</select>
<select id="GetRoom" resultType="Room">
	SELECT * FROM HAON_ROOM WHERE ROOM_NAME = #{room_name} AND ROOM_TYPE = #{room_type}
</select>
</mapper>