<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.haon.user.admin.UserAdminDAO">
	
	<select id="select_admin_no" resultType="kr.co.haon.user.UserVO">
		select * from haon_user where user_email = #{user_email} and user_pw = #{user_pw}
	</select>
	
	<select id="select_client_list" resultType="kr.co.haon.user.UserVO">
		select * from haon_user where user_admin = 0;
	</select>

</mapper>