<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.haon.user.client.UserClientDAOImpl">

	<select id="loginCheck" resultType="kr.co.haon.user.UserVO">
		SELECT * 
		FROM HAON_USER
		WHERE USER_EMAIL = #{user_email} AND USER_PW = #{user_pw};
	</select>
	
	<insert id="joinCheck" >
		INSERT INTO HAON_USER(user_email, user_pw, user_name, user_phone, user_gender, user_birth, user_addr1, user_addr2)
		VALUES(#{user_email}, #{user_pw}, #{user_name}, #{user_phone}, #{user_gender}, #{user_birth}, #{user_addr1}, #{user_addr2});
	</insert>
</mapper>